<section class="site-about-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-about-wrapper">
          <div class="site-about-company">
            <h1>
              We are roxo design.
              <br>
              An award-winning creative studio in Florida.
            </h1>
          </div>
          <div class="site-about-description">
            <p>
              We are specialized in developing forward-thinking brand identities, websites, illustration and animation for all types of customers. And we do this by bringing our customers through each phase of the design process with us.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>