<section class="site-project" id="project">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>OUR RECENT WORKS</h2>
          <p>Crafting experiences and seeking to make the complex clear & beautiful.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-10 mx-auto">
        <div class="site-project-item">
          <div class="site-project-item-thumb">
            <img src="images/projects/project-thumb-one.jpg" alt="project-thumb-one">
          </div>
          <div class="site-project-item-content">
            <span>UX UI</span>
            <h3>USE-LESS BRAND</h3>
            <a href="project-single.html" class="read-more">view project</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-10 mx-auto">
        <div class="site-project-item">
          <div class="site-project-item-thumb">
            <img src="images/projects/project-thumb-two.jpg" alt="project-thumb-two">
          </div>
          <div class="site-project-item-content">
            <span>PRODUCT DESIGN</span>
            <h3>OSEN CLOCK</h3>
            <a href="project-single.html" class="read-more">view project</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-10 mx-auto">
        <div class="site-project-item">
          <div class="site-project-item-thumb">
            <img src="images/projects/project-thumb-three.jpg" alt="project-thumb-three">
          </div>
          <div class="site-project-item-content">
            <span>REBRAND</span>
            <h3>SEAMLESS WATCH</h3>
            <a href="project-single.html" class="read-more">view project</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-10 mx-auto">
        <div class="site-project-item">
          <div class="site-project-item-thumb">
            <img src="images/projects/project-thumb-four.jpg" alt="project-thumb-four">
          </div>
          <div class="site-project-item-content">
            <span>PRODUCT LABEL</span>
            <h3>KIO TAPE</h3>
            <a href="project-single.html" class="read-more">view project</a>
          </div>
        </div>
      </div>
      <div class="col-12 text-center text-lg-left">
        <a href="portfolio.html" class="site-project-cta">MORE WORKS</a>
      </div>
    </div>
  </div>
</section>