<section class="site-testimonial">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>
            OPINION FROM REAL PEOPLE
          </h2>
          <p>
            What clients says about our services. 
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="site-testimonial-item">
          <div class="site-testimonial-item-header">
            <div class="thumb">
              <img src="images/testimonial/user-thumb-one.jpg" alt="user-thumb-one">
            </div>
            <div class="person">
              <h5>Simonns Hodge</h5>
              <p>CEO, Credito</p>
            </div>
          </div>
          <p class="site-testimonial-item-body">
            Trust us we looked for a very long time and wasted thousands of dollars testing other teams, freelancers, and outsource companies. 
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="site-testimonial-item">
          <div class="site-testimonial-item-header">
            <div class="thumb">
              <img src="images/testimonial/user-thumb-two.jpg" alt="user-thumb-two">
            </div>
            <div class="person">
              <h5>Rekon Montino</h5>
              <p>CDO, Bulmuci</p>
            </div>
          </div>
          <p class="site-testimonial-item-body">
            Roxo products have allowed us to deliver better support to all our clients. The agility with which we can implement new features and workflows is a key element. 
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="site-testimonial-item">
          <div class="site-testimonial-item-header">
            <div class="thumb">
              <img src="images/testimonial/user-thumb-three.jpg" alt="user-thumb-three">
            </div>
            <div class="person">
              <h5>Ryan Hillary</h5>
              <p>MD, Udilamo</p>
            </div>
          </div>
          <p class="site-testimonial-item-body">
            We’re a really busy restaurant, and roxo gives our customers a easy way to order, pay, and pick up their food so they can beat the line and beat that lunch rush.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="site-testimonial-item">
          <div class="site-testimonial-item-header">
            <div class="thumb">
              <img src="images/testimonial/user-thumb-four.jpg" alt="user-thumb-four">
            </div>
            <div class="person">
              <h5>Dockrel Kahn</h5>
              <p>PM, Walmet</p>
            </div>
          </div>
          <p class="site-testimonial-item-body">
            Trust us we looked for a very long time and wasted thousands of dollars testing other teams, freelancers, and outsource companies. 
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="site-testimonial-item">
          <div class="site-testimonial-item-header">
            <div class="thumb">
              <img src="images/testimonial/user-thumb-five.jpg" alt="user-thumb-five">
            </div>
            <div class="person">
              <h5>Orino Monteno</h5>
              <p>CEO, Axion</p>
            </div>
          </div>
          <p class="site-testimonial-item-body">
            Roxo products have allowed us to deliver better support to all our clients. The agility with which we can implement new features and workflows is a key element. 
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="site-testimonial-item">
          <div class="site-testimonial-item-header">
            <div class="thumb">
              <img src="images/testimonial/user-thumb-six.jpg" alt="user-thumb-six">
            </div>
            <div class="person">
              <h5>Welfo Roy</h5>
              <p>PDO, Komoyo</p>
            </div>
          </div>
          <p class="site-testimonial-item-body">
            We’re a really busy restaurant, and roxo gives our customers a easy way to order, pay, and pick up their food so they can beat the line and beat that lunch rush.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>