<section class="site-project" id="project">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="site-project-item">
            <div class="site-project-item-thumb">
              <img src="images/projects/project-thumb-one.jpg" alt="project-thumb-one">
            </div>
            <div class="site-project-item-content">
              <span>UX UI</span>
              <h3>USE-LESS BRAND</h3>
              <a href="project-single.html" class="read-more">view project</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="site-project-item">
            <div class="site-project-item-thumb">
              <img src="images/projects/project-thumb-two.jpg" alt="project-thumb-two">
            </div>
            <div class="site-project-item-content">
              <span>PRODUCT DESIGN</span>
              <h3>OSEN CLOCK</h3>
              <a href="project-single.html" class="read-more">view project</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="site-project-item">
            <div class="site-project-item-thumb">
              <img src="images/projects/project-thumb-three.jpg" alt="project-thumb-three">
            </div>
            <div class="site-project-item-content">
              <span>REBRAND</span>
              <h3>SEAMLESS WATCH</h3>
              <a href="project-single.html" class="read-more">view project</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="site-project-item">
            <div class="site-project-item-thumb">
              <img src="images/projects/project-thumb-four.jpg" alt="project-thumb-four">
            </div>
            <div class="site-project-item-content">
              <span>PRODUCT LABEL</span>
              <h3>KIO TAPE</h3>
              <a href="project-single.html" class="read-more">view project</a>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="site-project-pagination">
            <nav>
              <ul class="pagination">
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>