<!-- Site Hero Start -->
<section class="site-hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="site-hero-content text-center">
          <h6>WE WORK HARD, WE PLAY HARD</h6>
          <h1>
            We’re a Design Studio
            <br>
            That Belies In the Great Ideas
          </h1>
          <ul class="site-hero-content-buttons">
            <li>
              <a href="#project" class="btn btn-secondary scroll-to">
                <span class="btn-area">
                  <span data-text="See Our Works">
                    See Our Works
                  </span>
                </span>
              </a>
            </li>
            <li>
              <a href="contact.html" class="btn btn-primary">
                <span class="btn-area">
                  <span data-text="Connect with us">
                    Connect with us
                  </span>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <a href="#counter" class="site-hero-scroll scroll-to">
    <img src="images/arrow-down.svg" alt="arrow-down">
  </a>
</section>
<!-- Site Hero End -->