<section class="site-team">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>
            team that makes the difference.
          </h2>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="site-team-member">
          <div class="site-team-member-image">
            <img src="images/team/team-member-one.jpg" alt="team-member-one">
          </div>
          <div class="site-team-member-content">
            <h3>PABLO ESCOBAR</h3>
            <p>Creative Director</p>
            <ul class="site-team-member-social">
              <li><a href="#"><i class="fa fa-medium"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="site-team-member">
          <div class="site-team-member-image">
            <img src="images/team/team-member-two.jpg" alt="team-member-two">
          </div>
          <div class="site-team-member-content">
            <h3>MONTINO RIAU</h3>
            <p>Product Manager</p>
            <ul class="site-team-member-social">
              <li><a href="#"><i class="fa fa-medium"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="site-team-member">
          <div class="site-team-member-image">
            <img src="images/team/team-member-three.jpg" alt="team-member-three">
          </div>
          <div class="site-team-member-content">
            <h3>ALEX NAASRI</h3>
            <p>Chief Design Officer</p>
            <ul class="site-team-member-social">
              <li><a href="#"><i class="fa fa-medium"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="site-team-member">
          <div class="site-team-member-image">
            <img src="images/team/team-member-four.jpg" alt="team-member-four">
          </div>
          <div class="site-team-member-content">
            <h3>HONGMAN CHIOA</h3>
            <p>UX Researcher</p>
            <ul class="site-team-member-social">
              <li><a href="#"><i class="fa fa-medium"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="site-team-member">
          <div class="site-team-member-image">
            <img src="images/team/team-member-five.jpg" alt="team-member-five">
          </div>
          <div class="site-team-member-content">
            <h3>SANTIO ANDRESS</h3>
            <p>Content Researcher</p>
            <ul class="site-team-member-social">
              <li><a href="#"><i class="fa fa-medium"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="site-team-member">
          <div class="site-team-member-image">
            <img src="images/team/team-member-six.jpg" alt="team-member-six">
          </div>
          <div class="site-team-member-content">
            <h3>RAMESH PAUL</h3>
            <p>Creative Designer</p>
            <ul class="site-team-member-social">
              <li><a href="#"><i class="fa fa-medium"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>