<section class="site-cta">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="site-cta-title">LET’S WORK TOGETHER</h1>
        <ul class="site-cta-buttons">
          <li>
            <a href="contact.html" class="btn btn-secondary">
              <span class="btn-area">
                <span data-text="Submit Query">
                  Submit Query
                </span>
              </span>
            </a>
          </li>
          <li>
            <a href="portfolio.html" class="btn btn-primary">
              <span class="btn-area">
                <span data-text="Not Convinced">
                  Not Convinced
                </span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>