<section class="site-project-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="site-project-header-content">
          <h1>
            We build better <span>products</span>
            to help our clients build
            better <span>companies</span>
          </h1>
        </div>
      </div>
      <div class="col-lg-4">
        <a href="#project" class="site-project-header-action scroll-to">
          <span>Scroll Down</span>
          <img src="images/arrow-down.svg" alt="arrow-down">
        </a>
      </div>
    </div>
  </div>
</section>