<section class="site-expertise">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="section-title">
          <h2>Expertise</h2>
        </div>
      </div>
      <div class="col-md-6">
        <ul class="site-expertise-list">
          <li>Customer Experience Design</li>
          <li>Digital Products</li>
          <li>Development</li>
          <li>Campaign & Content</li>
          <li>Employer Branding</li>
          <li>Animation & Motion Graphics</li>
          <li>Packaging & Product Design</li>
          <li>Retail & Spacial</li>
          <li>Print & Editorial Design</li>
          <li>Concept/Text</li>
          <li>Information Design</li>
        </ul>
      </div>
    </div>
  </div>
</section>